.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  
  background-image: linear-gradient(79deg, #5CA0F2, #c3fbfb 90% );
}

.landing-page{
  margin-left: 100px;
}




.login-form {
  display: flex;

}


.auth-form-container{

  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(79deg, #5CA0F2, #c3fbfb 90% );

}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}


.link-bttn {
  background-color: none;
  color: white;
  text-decoration: underline;
  border: none;
  padding: 0px;
}

