/* ArticlesPage.css */

/* Style for the entire ArticlesPage */

.article-page {
    text-align: center;
    padding: 20px;
    background-color: #2f90c8
  }
  .article-page h1 {
    font-size: 40px;
    color: #2a2929;
    margin-bottom: 40px;
    position: relative; 
    font-weight: bold; /* Make the text bold */
  
  }
  .article-page h3 {
    font-size: 12px;
    color: #e7e3e3;
    margin-bottom: 40px;
    position: center; 
  
  }
  
  .article-page h1::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #003f80;
    position: absolute;
    bottom: -5px;
    left: 0;
  }
  /* Style for individual article cards */
  .article-card {
    border: 1px solid #2d52a8;
    padding: 16px;
    margin: 16px;
    text-align: center;
    background-color: #2d52a8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    height: 350px; /* Set a fixed height for each article card */
    vertical-align: top; /* Align cards at the top */
    display: inline-block; /* Display articles in a row */
    width: 250px; /* Set a fixed width for each article card */
  }
  
  .article-card img {
    max-width: 100%; /* Ensure the image fits within the article card */
    height: auto; /* Maintain the image's aspect ratio */
    display: block; /* Center the image horizontally */
    margin: 0 auto; /* Center the image horizontally */
  }
  
  .article-card h2 {
    margin-top: 8px;
    color: #edebeb; /* Text color */
  }
  
  .article-card .read-button {
    text-decoration: none;
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    padding: 8px 16px;
    border-radius: 4px;
    display: inline-block;
    margin-top: 1px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .article-card .read-button:hover {
    background-color: #0056b3; /* Hover background color */
  }
  .go-back-button {
    position: absolute;
    top: 20px; /* Adjust the top position as needed */
    left: 20px; /* Adjust the left position as needed */
    text-decoration: none;
    background-color: #d02331; /* Button background color */
    color: #fff; /* Button text color */
    padding: 8px 16px;
    border-radius: 4px;
    display: inline-block;
    transition: background-color 0.3s ease-in-out;
  }
  
  .go-back-button:hover {
    background-color: #8e2831; /* Hover background color */
  }
