/* ResourceLibraryPage.css */


/* Background and container styling */
.resource-library-page {
    background-color: #2f90c8; /* Background color */
    padding: 20px;
    text-align: center;
  }

  .resource-library-page h1 {
    font-size: 40px;
    color: #2a2929;
    margin-bottom: 40px;
    position: relative; 
    font-weight: bold; /* Make the text bold */
  
  }
  .resource-library-page h1::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #003f80;
    position: absolute;
    bottom: -5px;
    left: 0;
  }
  
  /* Style for the top image (centered) */
  .top-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 20px; /* Adjust the margin-top as needed */
  }
  
  /* Style for the description */
  .description {
    margin: 20px 0;
  }
  
  /* Style for the description text */
  .description p {
    font-size: 18px;
    color: #292828;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  
  /* Style for the category buttons */
  .buttons {
    margin-top: 20px;
  }
  
  /* Style for the category buttons */
    .category-button {
        background-color: #0056b3; 
        color: #fff;
        padding: 15px 30px; 
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin: 10px;
        transition: background-color 0.3s ease-in-out;
        text-decoration: none;
      }
  
      .category-button:hover {
        background-color: #003f80;
  }
  .go-back-button {
    background-color: #c13b49; 
    color: #fff;
    padding: 15px 30px; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
  }
  

  .go-back-button:hover {
    background-color: #9c2733; 
  }
