.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  }
  
  .container h1{
	font-size: 40px;
	padding-top: 15px;
	padding-bottom: 15px;
}
  .green_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: #473bb1;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	color: #fff; /* Set the default font color to white */
	cursor: pointer;
	transition: background-color 0.3s; /* Add a transition for smooth hover effect */
  }
  
  .green_btn:hover {
	background-color: #6757e0; /* New background color on hover */
	color: #fff; /* Font color on hover */
  }
  