/* AboutUs.css */

.about-us {
    padding: 50px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #83bbf3c0;
    background-image: url('/public/AboutUsImages/AboutUsBackground.jpg'); 

    background-size: cover; 
    background-repeat: no-repeat;
    background-position: left top, right top;
  }
  .background{
padding: 30px;
    background-color: #83bbf3c0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  }
  .about-header {
    font-size: 48px;
    background-color: #dff1f9;

    font-weight: bold;
    margin-bottom: 20px;
    text-decoration: underline;
    color: #333;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #1d2c34;
  }
  
  .about-description {
    font-size: 24px;
    margin: 20px 0;
    color: #555;
    line-height: 1.4;
  }
  
  .our-team {
    margin-top: 40px;
  }
  
  .team-member {
    display: inline-block;
    width: 30%;
    margin: 0 2%;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: #333;
  }
  
  .team-member img {
    border-radius: 50%;
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .team-member .name {
    font-weight: bold;
  }
  
  .back-button {
    background-color: #d20e0e;
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 4px;
    display: inline-block;
    margin-top: 60px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
    font-size: 20px;
  }
  
  .back-button:hover {
    background-color: #9a0808;
  }
  .our-mission{
    font-size: 30px;
    background-color: #cce4f0c0;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    background-size: cover;
    background-position: center;
    padding: 13px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #1d2c34;

  }
  .our-team-header {
    font-size: 48px;
    background-color: #dff1f9;

    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: underline;
    color: #333;
    background-size: cover;
    background-position: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #1d2c34;
  }